<div id="pager" class="text-center">
    
    <% if pagy.next %>
        <%= link_to("Load More Messages",
            url_for(page: pagy.next),
            class: "btn btn-info btn-sm",
            data: {
                turbo_frame: "page_handler",
                controller: "autoclick"
            }) %>
    <% end %>
    
</div>